.profile {
  max-width: 68.75%;
  margin: auto;
  display: flex;
  margin-top: 40px;
}
@media (max-width: 1070px) {
  .profile {
    max-width: 85%;
  }
}
@media (max-width: 880px) {
  .profile {
    width: 80%;
    flex-direction: column;
  }
}

@media (max-width: 380px) {
  .profile {
    width: 88%;
    margin-top: 42px;
  }
}
