@import url(./vendor/normalize.css);
@import url(./fonts/InterWeb/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__logo/_image/header__logo_image.css);
@import url(./blocks/header/__line/header__line.css);
@import url(./blocks/content/content.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile-info/profile-info.css);
@import url(./blocks/profile-info/__nombre/profile-info__nombre.css);
@import url(./blocks/profile-info/__edit/profile-info__edit.css);
@import url(./blocks/profile-info/__about-me/profile-info__about-me.css);
@import url(./blocks/profile/__addPlace/profile__addPlace.css);
@import url(./blocks/profile/__addPlace/profile__add-image.css);
@import url(./blocks/profile/__editImg/profile__editImg.css);
@import url(./blocks/profile/__overlayImg/profile__overlayImg.css);
@import url(./blocks/profile/__conteinerImg/profile__conteinerImg.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/popup_is-opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__name/form__name.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__save/form__save.css);
@import url(./blocks/popup/__input_type/_error/popup__input_type_error.css);
@import url(./blocks/grid-container/grid-container.css);
@import url(./blocks/photo-grid/photo-grid.css);
@import url(./blocks/photo-grid/__image/photo-grid__image.css);
@import url(./blocks/photo-grid/__description/photo-grid__description.css);
@import url(./blocks/photo-grid/__text/photo-grid__text.css);
@import url(./blocks/photo-grid/__likesConteiner/photo-grid__likesConteiner.css);
@import url(./blocks/photo-grid/__like/photo-grid__like.css);
@import url(./blocks/photo-grid/__like/_active/photo-grid__like_active.css);
@import url(./blocks/photo-grid/__likeCounter/photo-grid__likeCounter.css);
@import url(./blocks/photo-grid/__delete/photo-grid__delete.css);
@import url(./blocks/popImg/popImg.css);
@import url(./blocks/popImg/__container/popImg__container.css);
@import url(./blocks/popImg/__close/popImg__close.css);
@import url(./blocks/popImg/__bigImage/popImg__bigImage.css);
@import url(./blocks/popImg/__text/popImg__text.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/swal2-popup/swal2-popup.css);
